<h1> Ira Lee </h1>
<!-- Picture -->
<p> - DESCRIPTION HERE -<br>
<a href="https://github.com/ilee2914"> GitHub </a>
</p>

<h1> Andres Quinones </h1>
<!-- Picture -->
<p> Student at Hunter College, Studying Computer Science. Graduating Spring 2017. Keen interest in Artificial Intelligence, Machine Learning, Data Science and Distributed Systems. Loves solving problems and collaborating. Prospective Software Engineer at Spectracom. <br>
<a href="http://aj340.github.io/"> Personal Site </a> <br>
<a href="https://github.com/AJ340"> GitHub </a>
</p>

<h1> Nishad Sharker </h1>
<!-- Picture -->
<p> Student at Hunter College, studying computer science and is expected to graduate at the end of the Fall 2017 semester. He is currently working on wall detection from simulated robot data in Hunter’s Problem Solving and Machine Learning Laboratory. He will be interning at a computational neuroscience laboratory at MIT for the duration of summer 2017. <br>
<a href="https://github.com/NSharker"> GitHub </a>
</p>

<h1> Iden Watanabe </h1>
<!-- Picture -->
<p> Student at Hunter College, Studying Computer Science. Graduating Spring 2017.<br>
<a href="https://github.com/EyeDen"> GitHub </a>
</p>