<!DOCTYPE html>
<html>
<head>
	<title>House Hunter</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type = "text/javascript">
		var zip = {% include "capstone/zip.geojson" %}
		var styling = {% include "capstone/styles.json" %}
		var map;
		function initMap() {
			map = new google.maps.Map(document.getElementById('map'), {
			  center: {lat: 40.71144481104393, lng: -73.95671748925781},
			  zoom: 12,
			  styles : styling
			});
			map.data.addGeoJson(zip);
			map.data.setStyle({
				fillColor: 'red',
				strokeWeight: 1
			});
		}
		function dataSwitch(dataset) {
			//alert($("#datasets input[type='radio']:checked").val());
			//alert(zip.features[0].properties.postalCode);
			if (dataset == 'pop') {
				map.data.forEach(function(feature) {
					map.data.overrideStyle(feature, {fillColor: 'red'});
				});
			} else if (dataset == 'comp') {
				map.data.forEach(function(feature) {
					map.data.overrideStyle(feature, {fillColor: 'blue'});
				});
			} else if (dataset == 'price') {
				map.data.forEach(function(feature) {
					map.data.overrideStyle(feature, {fillColor: 'green'});
				});
			}
		}
	</script>
</head>
<body class = "body">
	{% block content %}
	{% endblock %}
	
	<script>
	// Months 0-11
	var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
	// Months 0-5
	var years = ['2010', '2011', '2012', '2013', '2014', '2015'];
	var rangeSlider = function(){
		var slider = $('.range-slider'),
			range = $('.range-slider__range'),
			value = $('.range-slider__value');

			slider.each(function(){

			value.each(function(){
				var value = $(this).prev().attr('value');
				$(this).html(convertToDate(value));
			});

			range.on('input', function(){
				$(this).next(value).html(convertToDate(this.value));
			});
		});
	};
	
	function convertToDate(value) {
		m = value%12;
		y = Math.floor(value/12);
		return months[m] + ', ' + years[y];
	}
	rangeSlider();
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcfIo7u2qWM0pChurT7cnW9-D9Qi9exnk&callback=initMap" type="text/javascript"></script>
</body>
</html>