<!DOCTYPE html>
<html>
<head>
	<title>House Hunter</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type = "text/javascript">
		var colors = ['#f7fcfd','#e5f5f9','#ccece6','#99d8c9','#66c2a4','#41ae76','#238b45','#006d2c','#00441b']
		var zip = {% include "capstone/map.geojson" %}
		var styling = {% include "capstone/styles.json" %}
		var map;
		function initMap() {
			map = new google.maps.Map(document.getElementById('map'), {
			  center: {lat: 40.71144481104393, lng: -73.95671748925781},
			  zoom: 12,
			  styles : styling
			});
			map.data.addGeoJson(zip);
			map.data.setStyle({
				fillColor: '#ffffff',
				//fillOpacity: .45,
				strokeWeight: 1
			});
		}
		function dataSwitch(dataset) {
			x = {{data|safe}};
			var color;
			if (dataset == 'pop') {
				avgPickups = 0;
				count = 0;
				for (i = 0; i < x.length; i++) {
					if (x[i].pickups > 0) {
						count++;
						avgPickups += x[i].pickups;
					}
				}
				avgPickups /= count;
				map.data.forEach(function(feature) {
					currentZip = feature.getProperty('postalCode');
					for (i = 0; i < x.length; i++) {
						if (currentZip == x[i].zipcode) {
							pls = (x[i].pickups / avgPickups);
							color = Math.floor((pls*100)/25);
							if (color > 8) {
								color = 8;
							}
							color = colors[color];
							continue;
						}
					}
					map.data.overrideStyle(feature, {fillColor: color});
				});
			} else if (dataset == 'comp') {
				avgComplaints = 0;
				count = 0;
				for (i = 0; i < x.length; i++) {
					complaints = x[i].FELONIES + x[i].MISDEMEANORS + x[i].VIOLATIONS;
					if (complaints > 0) {
						count++;
						avgComplaints += complaints;
					}
				}
				avgComplaints /= count;
				map.data.forEach(function(feature) {
					currentZip = feature.getProperty('postalCode');
					for (i = 0; i < x.length; i++) {
						if (currentZip == x[i].zipcode) {
							complaints = x[i].FELONIES + x[i].MISDEMEANORS + x[i].VIOLATIONS;
							pls = (complaints / avgComplaints);
							color = Math.floor((pls*100)/25);
							if (color > 8) {
								color = 8;
							}
							color = colors[color];
							continue;
						}
					}
					map.data.overrideStyle(feature, {fillColor: color});
				});
			} else if (dataset == 'price') {
				avgPrices = 0;
				count = 0;
				for (i = 0; i < x.length; i++) {
					if (x[i].price > 0) {
						count++;
						avgPrices += x[i].price;
					}
				}
				avgPrices /= count;
				map.data.forEach(function(feature) {
					currentZip = feature.getProperty('postalCode');
					for (i = 0; i < x.length; i++) {
						if (currentZip == x[i].zipcode) {
							pls = (x[i].price / avgPrices);
							color = Math.floor((pls*100)/25);
							if (color > 8) {
								color = 8;
							}
							color = colors[color];
							continue;
						}
					}
					map.data.overrideStyle(feature, {fillColor: color});
				});;
			}
		}
	</script>
</head>
<body class = "body">
	{% block content %}
	{% endblock %}
	
	<script>
	// Months 0-11
	var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
	// Months 0-5
	var years = ['2010', '2011', '2012', '2013', '2014', '2015'];
	var rangeSlider = function(){
		var slider = $('.range-slider'),
			range = $('.range-slider__range'),
			value = $('.range-slider__value');

			slider.each(function(){

			value.each(function(){
				var value = $(this).prev().attr('value');
				$(this).html(convertToDate(value));
			});

			range.on('input', function(){
				$(this).next(value).html(convertToDate(this.value));
			});
		});
	};
	
	function convertToDate(value) {
		m = value%12;
		y = Math.floor(value/12);
		return months[m] + ', ' + years[y];
	}
	rangeSlider();
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcfIo7u2qWM0pChurT7cnW9-D9Qi9exnk&callback=initMap" type="text/javascript"></script>
</body>
</html>