{% extends "capstone/header.html" %}

{% load static %}
{% block content %}

<div id="top">
	<span id = "top-content">
		House Hunter
	</span>
	
</div>
<div id = "slider">	
	<div id = "container">
		<form id="datasets">
			<span class="checkbox switcher">
			<nobr><span class="name"> Pickups</span>
			<label for="test">
				<input type="radio" id="test" value="Pickups" name="dataset"  onclick="dataSwitch('pic');" checked>
				<span><small></small></span>
			</label>
			</nobr>
			
			</br>
			<nobr>
			<span class="name"> Dropoffs</span>
			<label for="test2">
				<input type="radio" id="test2" value="Dropoffs" name="dataset"  onclick="dataSwitch('drop');">
				<span><small></small></span>
			</label>
			</nobr>
			</br>
			<nobr>
			<span class="name"> Felonies</span>
			<label for="test5">
				<input type="radio" id="test5" value="Felonies" name="dataset" onclick="dataSwitch('fel');">
				<span><small></small></span>
			</label>
			
			</br>
			<nobr><span class="name"> Misdemeanors</span>
			<label for="test6">
				<input type="radio" id="test6" value="Misdemeanors" name="dataset" onclick="dataSwitch('misd');">
				<span><small></small></span>
			</label>
			</nobr>
			</br>
			<nobr><span class="name"> Violations</span>
			<label for="test7">
				<input type="radio" id="test7" value="Violations" name="dataset"  onclick="dataSwitch('viol');">
				<span><small></small></span>
			
			</label>
			</nobr>
			</br>
			<nobr><span class="name"> Prices</span>
			<label for="test8">
				<input type="radio" id="test8" value="Prices" name="dataset"  onclick="dataSwitch('price');">
				<span><small></small></span>
			
			</label>
			</nobr>
			</br>
			</span>
		</form>
	</div>
	<div id = "slider-content">
		<div class="range-slider">
		  <input class="range-slider__range" type="range" value="0" min="0" max="71">
		  <span class="range-slider__value">0</span>
		</div>
	</div>
</div>
<div id="map"></div>
<div id="cusBox">
	
	<form id = "cusInfo" method="post" onSubmit = "return createPost()")>
		<div id="hidecus" onclick="$('#cusInfo').css('visibility', 'hidden')">>></div>
		<div id="cussZ"></div>
		{% csrf_token %}
		Date : <span id="cusdate">
			<input style="width:40px" type="number" id="cusmonths" name="month" value = "1" min="1" max="12"/>
			<input style="width:60px" type="number" id="cusyears" name="year" value = "2016" min="2016" max="2020"/>
		</span></br> 
		Pickups : <span>
			<input style="width:70px" type="number" id="cusp" name="cusp" value = "0" placeholder = "0"/>
		</span></br>
		Pickup Passengers : <span>
			<input style="width:70px" type="number" id="cuspass" name="cuspass" value = "0" placeholder = "0"/>
		</span></br>
		Dropoffs : <span>
			<input style="width:70px" type="number" id="cusd" name="cusd" value = "0" placeholder = "0"/>
		</span></br>
		Dropoff Passengers : <span>
			<input style="width:70px" type="number" id="cusdpass" name="cusdpass" value = "0" placeholder = "0"/>
		</span></br>
		Felonies : <span>
			<input style="width:70px" type="number" id="cusf" name="cusf" value = "0" placeholder = "0"/>
		</span></br>
		Misdemeanors : <span>
			<input style="width:70px" type="number" id="cusm" name="cusm" value = "0" placeholder = "0"/>
		</span></br>
		Violations : <span>
			<input style="width:70px" type="number" id="cusv" name="cusv" value = "0" placeholder = "0"/>
		</span></br>
		Price per sqrt: <span id="cuspr">0</span></br></br>
		
		<span id="cuspredictButton" onclick="createCustom()"> Predict </span>
	</form>;
</div>

<div id="infobox">
	<div id="cusButton" onclick="$('#cusInfo').css('visibility', 'visible');"><<</div>
	<div id="sZ"></div>
	<div id="info"> Click any of the zip codes to see data for it! </div>
</div>
<div id="legend">
	<span style = 'margin-left:10px;'>low</span>
	<span style ='display:inline-block;margin-left:60px;'>avg</span>
	<span style='display:inline-block; margin-left:70px;'>high</span></br>
	<div style = 'margin-left:10px' id="legendContent"></div>
</div>

{% endblock %}