{% extends "capstone/header.html" %}

{% load static %}
{% block content %}

<div id="top">
	<span id = "top-content">
		House Hunter
	</span>
	
</div>

<div id = "slider">
	<div id = "container">
		<form id="datasets">
			<span class="checkbox switcher">
			<span class="name"> Popularity </span>
			<label for="test">
				<input type="radio" id="test" value="Popularity" name="dataset"  onclick="dataSwitch('pop');">
				<span><small></small></span>
			</label>
			</br>
			
			<span class="checkbox switcher">
			<span class="name"> Complaints </span>
			<label for="test1">
				<input type="radio" id="test1" value="Complaints" name="dataset" onclick="dataSwitch('comp');">
				<span><small></small></span>
			</label>
			</br>
			
			<span class="checkbox switcher">
			<span class="name"> Housing Prices </span>
			<label for="test2">
				<input type="radio" id="test2" value="Housing Prices" name="dataset" onclick="dataSwitch('price');">
				<span><small></small></span>
			</label>
		</form>
	</div>
	<div id = "slider-content">
		<div class="range-slider">
		  <input class="range-slider__range" type="range" value="0" min="0" max="71">
		  <span class="range-slider__value">0</span>
		</div>
	</div>
	<div>
		
	</div>
</div>
<div id="map"></div>
{% endblock %}