@font-face {
	font-family: 'Simplifica';
	font-style: normal;
	src: url(fonts/Simplifica.ttf);
}

body {
	font-family:Simplifica;	
}

html, body {
	top:0px;
	left:0px;
	margin:0;
}
#top {
	font-size: 100px;
	background-color:#333333;
	color:#6AC5A9;
}

#top-content {
	margin-left: 20px;
	
}
#map {
	position:absolute;
	margin-left:25%;
	height:calc(100% - (108px));
	width:75%;
	
}

#map img {
	max-width:100%;
}

#infobox, #legend { 
	background-color: #F8F9F3;
	position: absolute;
	border-style: groove;
	border-color: #333333;
	border-width:1px;
}
#infobox {
	
	width: 240px;
	height: 360px;
	margin-left:calc(100% - 250px);
	margin-top:10px;
	font-size:15pt;
}
#sZ {
	font-size:35pt;
	font-weight:700;
	text-align:center;
}
#info {
	font-size:20pt;
	text-align:center;
}

#legend {
	width:200px;
	height: 50px;
	margin-left:calc(100% - 250px);
	bottom:23px;
}
#stuff {
	position:absolute;
	width:200px;
	height:200px;
	z-index:10;
}
#container {
	text-align:right;
	margin-top:5%;
	width: 270px;
	margin-left:auto;
	margin-right:auto;
}

/*sliders*/
#slider {
	display: inline-block;
	position:absolute;
	width:25%;
	background-color:#F8F9F3;
	height:calc(100% - (108px));
}
#slider-content {
	margin-left:10px;
}


.name {
	font-size:22pt;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.range-slider {
  margin: 5% 5% 0 0%;
}
.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: 98%;
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}
.range-slider__value {
  display: inline-block;
  position: relative;
  width: 98%;
  color: #fff;
  font-size:22pt;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-top:20px;
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

/*Toggles*/
.checkbox.switcher label input, .radio.switcher label input {
  display: none;
}
.checkbox.switcher label input + span, .radio.switcher label input + span {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  width: 66px;
  height: 33px;
  background: #2c3e50;
  border: 1px solid #eee;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-top: 2%;
  margin-left: 3%;
}
.checkbox.switcher label input + span small, .radio.switcher label input + span small {
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  left: 0;
}
.checkbox.switcher label input:checked + span, .radio.switcher label input:checked + span {
  background: #1abc9c;
  border-color: #black;
}
.checkbox.switcher label input:checked + span small, .radio.switcher label input:checked + span small {
  left: 50%;
}